.page-header{
    display:flex;
    justify-content: space-between;
    height:200%;
    width:1000px;
    padding-left:20px;
    padding-right:30px;
}
.flex1{
    display: flex;
    justify-content: space-between;
}
.table-header{
    font-weight: bold;
    padding: 10px 0 10px  0;
    border-bottom: 1px solid #850f0f;
}